.password-display input[type="text"] {
  flex: 1;
  border-radius: 5px 0 0 5px;
}

.password-display button {
  border-radius: 0 5px 5px 0;
}

.password-display {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.copy-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 1.3rem;
}
